html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header,
footer {
  width: 100%;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
